{% extends "base_user.html" %}

{% block title %}Digital Books{% endblock %}

{% block content %}
<div class="digital-books">
    <h1 class="mb-4">Digital Books</h1>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Downloads</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for ebook in ebooks %}
                <tr>
                    <td>{{ ebook.Digital_Name }}</td>
                    <td>{{ ebook.DigitalID_Book_Author }}</td>
                    <td>{{ ebook.Digital_Downloads }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm">Download</button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" class="text-center">No digital books available</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.botpress.cloud/webchat/v2.3/inject.js"></script>
<script src="https://files.bpcontent.cloud/2025/04/08/14/20250408140421-NE9U9VY9.js"></script>
{% endblock %}